// importing common colors
@use "variables";

// importing mixins
@use "mixins";

.home-page {
  @include mixins.page_styling;
}

.home-page_content {
  @include mixins.page-content_styling;
}

.home-welcome {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  font-weight: 600;
  align-items: baseline;
  margin-bottom: 10px;
}

.home-welcome .app-name {
  font-size: 30px;
  font-weight: 700;
  color: variables.$blue;
}

.home-description .link-forecast-page {
  text-decoration: none;
  color: variables.$green;
}

@media (max-width: 425px) {
  .home-page_content {
    @include mixins.page-content_small_devices;
  }

  .home-welcome {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
  }
}
